## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [3]:
a=17
print(a)

17

2) Imprimir el tipo de dato de la constante 8.5

In [4]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [5]:
type(a)

int

4) Crear una variable que contenga tu nombre

In [6]:
nombre = "Pablo"

5) Crear una variable que contenga un número complejo

In [7]:
complexNumber = 5+10j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [8]:
type(complexNumber)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [10]:
pi = 3,1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [11]:
variable_1 = 'True'
variable_2 = True
# Son dos cosas distintas, la variable_1 es un string con el texto True, 
# y la segunda variable guarda el valor booleano de True.

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [12]:
print(type(variable_1))
print(type(variable_2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [13]:
entero_y_decimal = 17 + 1,1

11) Realizar una operación de suma de números complejos

In [19]:
(4+7j) + (7+18j)

(11+25j)

12) Realizar una operación de suma de un número real y otro complejo

In [18]:
-2023 + (17 - 5j)

(-2006-5j)

13) Realizar una operación de multiplicación

In [20]:
17*2002

34034

14) Mostrar el resultado de elevar 2 a la octava potencia

In [21]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [25]:
cociente = 27/4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [26]:
27//4

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [27]:
27%4

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [32]:
4 * 6 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [31]:
var_1 = "Pablo "
var_2 = 'Leonczik'
print(var_1 + var_2)

Pablo Leonczik

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [33]:
"2" == 2
# Son dos tipos distintos de datos

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [34]:
int("2") + 2

4

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [36]:
# a = float('3,8')
# could not convert string to float: '3,8'
# No se puede convertir un string a un float

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [37]:
n = 3
n -= 1
print(n)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [39]:
1<<2
# Lo que esta haciendo es desplazar el bit 1 dos lugares a la izquierda, lo que resulta 
# en un numero 4. 
# El sistema binario es un sistema numerico donde solo hay dos numeros, el 0 y 1. Donde cada
# posicion del numero se le asigna una potencia de 2, por ejemplo: 101, el uno mas a la derecha
# correspone a (1* 2**0)=1, el cero es (0* 2**1)=0, y el uno de la derecha es (1* 2**2)=4.
# Por ende, tenemos (1* 2**0) + (0* 2**1) + (1* 2**2) = 1 + 0 + 4 = 5.

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [45]:
#print(2 + '2') # No se pueden sumar un int con un str.
print(2 +  2 ) # Son dos numeros
print('2' + '2') # Son dos string

4
22

26) Realizar una operación válida entre valores de tipo entero y string

In [48]:
print('PL '*5)
print(5*'PL')

PL PL PL PL PL
PLPLPLPLPL